body{
	
	
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06); 
    color: #000000;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 auto;

    max-width: 800px; 
    padding: 2em 2em 4em;	
}
.lop{
	color:#FFFFFF;
	background-color: #3EA7D8;
	font-size: 20PX;
	text-align: center;

}
nav{
	background-color: #3EA7D8;
	font-size: 50px;
}
a{
	text-decoration: none;
	padding: 50px;
	text-align: center;
}
